@import './../../variables';

nav {
    & .breadcrumb {
        margin: 0;
        & .breadcrumb-item {
            color: $secondary;
            font-size: 16px;
            & a {
                color: $secondary;
            }
            &.active {
                color: $theme1;
            }
        }
    }
}

.blogSectionHeading {
    font-size: 38px;
    color: $black;
    font-weight: 600;
}
.blogCard {
    cursor: pointer;
    & .cardImg {
        position: relative;
        overflow: hidden;
        border-radius: 5px;
        & img {
            object-fit: cover;
            aspect-ratio: 3/2;
            object-position: center;
            height: auto;
            width: 100%;
            transition: all 0.3s ease-in-out;
        }
        &::before {
            content: '';
            position: absolute;
            left: -120%;
            right: 120%;
            top: 120%;
            bottom: -120%;
            width: 100%;
            height: 100%;
            background: linear-gradient(45deg, transparent, $white, transparent);
            z-index: 1;    
            transition: 0s all;
            transform: scale(1.5);
        }
    }
    & .card-body {
        padding: 18px 0px 0px 0px;
        & .card-subtitle{
            font-size: 13px;
            opacity: 0.5;
            color: $white;
        }
        & .card-title {
            font-size: 19px;
            font-weight: 600;
            color: $white;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
    &:hover {
        & .cardImg {
            & img {
                transform: scale(1.1);
            }
            &::before {
                transition: .5s all;
                left: 120%;
                right: -120%;
                top: -120%;
                bottom: 120%;
            }
        }
    }
}

.blogDetailPage {
    & .sectionHeading {
        color: $black;
    }
    & .blogHeading {
        font-size: 30px;
        font-weight: 600;
        color: $black;
    }
    & .blogSubHeading {
        font-size: 20px;
        font-weight: 500;
        color: $black;
        filter: brightness(0.8);
    }
    & .userImg {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        overflow: hidden;
        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            aspect-ratio: 2/2;
        }
    }
    & .userName {
        font-size: 18px;
        color: $black;
        font-weight: 500;
    }
    & .blogTimeDate {
        font-size: 14px;
        color: $black;
        font-weight: normal;
        filter: brightness(0.5);
    }
    & .socialIcon {
        height: 35px;
        width: 35px;
        border-radius: 50%;
        padding: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        background-color: $light;
        & img {
            height: 100%;
        }
        &:hover {
            box-shadow: 0px 0px 7px -3px $secondary;
        }
    }
    & .blogHeadings {
        font-size: 20px;
        font-weight: 700;
        color: $black;
    }
    & .blogTexts {
        font-size: 16px;
        font-weight: 500;
        color: $black;
    }
    & .userCommentBox {
        & .userImg {
            padding: 0;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            overflow: hidden;
        }
        & .userName {
            font-size: 19px;
            font-weight: 600;
            color: $black;
        }
        & .timeDateText {
            font-size: 13px;
            font-weight: 500;
            color: $black;
        }
        & .replyBtn {
            font-size: 15px;
            font-weight: 600;
            color: $theme1;
            cursor: pointer;
        }
        & .commentText {
            font-size: 15px;
            font-weight: 400;
            color: $black;
        }
    }
    & .commentForm {
        & .form-label {
            color: $black;
        }
        & .form-control {
            background-color: transparent;
            box-shadow: none;
        }
        & .form-check-input{
            border-radius: 2px;
            box-shadow: none;
            & :checked[type=checkbox] {
            }
        }
        & .form-check-label {
            color: $black;
        }
    }
    .cardHeading {
        font-size: 20px;
        font-weight: 600;
        color: $black;
    }

}

@media only screen and (max-width:767.99px) {
    .blogSectionHeading {
        font-size: 20px;
    }
    .blogCard {
        & .cardImg {
            & img {
            }
            &::before {
            }
        }
        & .card-body {
            & .card-subtitle{
                font-size: 12px;
            }
            & .card-title {
                font-size: 14px;
                line-height: 18px;
            }
        }
        &:hover {
            & .cardImg {
                & img {
                }
                &::before {
                }
            }
        }
    }

    .blogDetailPage {
        & .blogHeading {
            font-size: 20px;
        }
        & .blogSubHeading {
            font-size: 16px;
        }
        & .userImg {
            height: 30px;
            width: 30px;
            & img {
            }
        }
        & .userName {
            font-size: 14px;
        }
        & .blogTimeDate {
            font-size: 12px;
        }
        & .likeIcon {
            height: 18px;
            & img {
            }
        }
        & .chatIcon {
            height: 18px;
            & img {
            }
        }
        & .shareImg {
            height: 18px;
            & img {
            }
        }
        & .blogHeadings {
            font-size: 16px;
        }
        & .blogTexts {
            font-size: 13px;
        }
        & .userCommentBox {
            & .userImg {
                width: 30px;
                height: 30px;
            }
            & .userName {
                font-size: 14px;
            }
            & .timeDateText {
                font-size: 12px;
            }
            & .replyBtn {
                font-size: 12px;
            }
            & .commentText {
                font-size: 13px;
            }
        }
        & .commentForm {
            & .form-label {
                font-size: 14px;
            }
            & .form-control {
                font-size: 14px;
            }
            & .form-check-input{
                & :checked[type=checkbox] {
                }
            }
            & .form-check-label {
                font-size: 14px;
            }
        }
    }
}