.videosSection {
    position: relative;
    .sectionHeading {
        font-size: 24px;
        color: white;
        margin-bottom: 15px;
        padding-inline: 0.75rem;
    }
    .arrow {
        font-size: 35px;
        color: black;
        position: absolute;
        top: 54%;
        transform: translateY(-50%);
        cursor: pointer;
        opacity: 0.8;
        transition: 0.3s ease-in-out;
        z-index: 1;
        &:hover {
            opacity: 0.9;
        }
    }
    .carouselLeftNav {
        left: 30px;
    }
    .carouselRightNav {
        right: 30px;
    }
    .videos {
        overflow-x: auto;
        .videoItem {
            cursor: pointer;
            .videoThumbnail {
                position: relative;
                & span {
                    width: 100%;
                }
                img {
                    width: 100%;
                    display: block;
                    border-radius: 12px;
                    transition: all 0.7s ease-in-out;
                }
                svg {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 50px;
                    height: 50px;
                }
                .triangle {
                    stroke-dasharray: 240;
                    stroke-dashoffset: 480;
                    stroke: white;
                    transform: translateY(0);
                    transition: all 0.7s ease-in-out;
                }
                .circle {
                    stroke: white;
                    stroke-dasharray: 650;
                    stroke-dashoffset: 1300;
                    transition: all 0.5s ease-in-out;
                }
                &:hover {
                    img {
                        opacity: 0.5;
                    }
                    .triangle {
                        stroke-dashoffset: 0;
                        opacity: 1;
                        stroke: var(--pink);
                        animation: trailorPlay 0.7s ease-in-out;
                    }
                    .circle {
                        stroke-dashoffset: 0;
                        stroke: var(--pink);
                    }
                }
            }
            .videoTitle {
                color: white;
                font-size: 14px;
                line-height: 20px;
            }
        }
    }

    .videoSkeleton {
        overflow: hidden;
        .skItem {
            .thumb {
                width: 100%;
                aspect-ratio: 16 / 9;
                border-radius: 12px;
                margin-bottom: 10px;
            }
            .line1 {
                height: 18px;
                width: 100%;
                margin-bottom: 10px;
            }
            .line2 {
                height: 15px;
                width: 75%;
            }
        }
    }
}

@media (max-width: 1399px) {
    .videosSection {
        .sectionHeading {
        }
        .arrow {
        }
        .carouselLeftNav {
        }
        .carouselRightNav {
        }
        .videos {
            .videoItem {
                .videoThumbnail {
                    & span {
                    }
                    img {
                    }
                    svg {
                    }
                    .triangle {
                    }
                    .circle {
                    }
                    &:hover {
                        img {
                        }
                        .triangle {
                        }
                        .circle {
                        }
                    }
                }
                .videoTitle {
                }
            }
        }
    
        .videoSkeleton {
            .skItem {
                .thumb {
                }
                .line1 {
                }
                .line2 {
                }
            }
        }
    }
}
@media (max-width: 1199px) {
    .videosSection {
        .sectionHeading {
        }
        .arrow {
        }
        .carouselLeftNav {
        }
        .carouselRightNav {
        }
        .videos {
            .videoItem {
                .videoThumbnail {
                    & span {
                    }
                    img {
                    }
                    svg {
                    }
                    .triangle {
                    }
                    .circle {
                    }
                    &:hover {
                        img {
                        }
                        .triangle {
                        }
                        .circle {
                        }
                    }
                }
                .videoTitle {
                }
            }
        }
    
        .videoSkeleton {
            .skItem {
                .thumb {
                }
                .line1 {
                }
                .line2 {
                }
            }
        }
    }
}
@media (max-width: 991px) {
    .videosSection {
        .sectionHeading {
            font-size: 22px;
        }
        .arrow {
        }
        .carouselLeftNav {
        }
        .carouselRightNav {
        }
        .videos {
            .videoItem {
                .videoThumbnail {
                    & span {
                    }
                    img {
                    }
                    svg {
                    }
                    .triangle {
                    }
                    .circle {
                    }
                    &:hover {
                        img {
                        }
                        .triangle {
                        }
                        .circle {
                        }
                    }
                }
                .videoTitle {
                }
            }
        }
    
        .videoSkeleton {
            .skItem {
                .thumb {
                }
                .line1 {
                }
                .line2 {
                }
            }
        }
    }
}
@media (max-width: 767px) {
    .videosSection {
        .sectionHeading {
            font-size: 20px;
            margin-bottom: 10px;
        }
        .arrow {
        }
        .carouselLeftNav {
        }
        .carouselRightNav {
        }
        .videos {
            .videoItem {
                .videoThumbnail {
                    & span {
                    }
                    img {
                    }
                    svg {
                        height: 30px;
                        width: 30px;
                    }
                    .triangle {
                    }
                    .circle {
                    }
                    &:hover {
                        img {
                        }
                        .triangle {
                        }
                        .circle {
                        }
                    }
                }
                .videoTitle {
                }
            }
        }
    
        .videoSkeleton {
            .skItem {
                .thumb {
                }
                .line1 {
                }
                .line2 {
                }
            }
        }
    }
}
@media (max-width: 575px) {
    .videosSection {
        .sectionHeading {
            font-size: 18px;
        }
        .arrow {
        }
        .carouselLeftNav {
        }
        .carouselRightNav {
        }
        .videos {
            .videoItem {
                .videoThumbnail {
                    & span {
                    }
                    img {
                    }
                    svg {
                    }
                    .triangle {
                    }
                    .circle {
                    }
                    &:hover {
                        img {
                        }
                        .triangle {
                        }
                        .circle {
                        }
                    }
                }
                .videoTitle {
                }
            }
        }
    
        .videoSkeleton {
            .skItem {
                .thumb {
                }
                .line1 {
                }
                .line2 {
                }
            }
        }
    }
}
