.personBannerFluid {
    & .personBanner {
        width: 100%;
        aspect-ratio: 1/1.5;
        overflow: hidden;
        border-radius: 12px;
        & span {
            display: block !important;
            img {
                width: 100%;
            }
        }
    }
    & .personName {
        font-size: 32px;
        font-weight: 600;
        margin-bottom: 10px;
    }
    & .heading {
        font-size: 22px;
        opacity: 0.9;
    }
    & .subDetail {
        font-size: 16px;
        opacity: 0.8;
        & .innerText {
            margin-top: 8px;
        }
    }
    & .subDetailHead {
        font-size: 16px;
        opacity: 0.9;
        margin-top: 8px;
    }
    & .subDetailText {
        font-size: 14px;
        opacity: 0.8;
        margin-top: 4px;
    }
    & .socialAnchor {
        margin-right: 10px;
        & img {
            height: 18px;
            transition: 0.3s ease-in-out;
        }
        &:hover {
            & img {
                transform: scale(1.1);
            }
        }
    }
    & .personLoaderSection {
        & .personImg {
            aspect-ratio: 1/1.5;
        }
        & .personSocial {
            height: 30px;
            width: 30px;
        }
        & .personName {
            height: 32px;
            width: 250px;
        }
        & .personBioHead {
            height: 25px;
            width: 200px;
        }
        & .personBioPara {
            height: 15px;
            width: 80%;
        }
        & .infoHead {
            height: 18px;
        }
        & .infoPara {
            height: 15px;
        }
    }
}
@media (max-width: 767px) {
    .personBannerFluid {
        & .personBanner {
            width: 140px;
            aspect-ratio: 1/1.4;
            & span {
                img {
                }
            }
        }
        & .personName {
            font-size: 24px;
        }
        & .heading {
            font-size: 20px;
        }
        & .subDetail {
            font-size: 14px;
            line-height: 22px;
            & .innerText {
            }
        }
        & .subDetailHead {
        }
        & .subDetailText {
        }
        & .socialAnchor {
            & img {
                height: 16px;
            }
            &:hover {
                & img {
                }
            }
        }
        & .personLoaderSection {
            & .personImg {
                width: 140px;
                aspect-ratio: 1/1.5;
            }
            & .personSocial {
            }
            & .personName {
            }
            & .personBioHead {
            }
            & .personBioPara {
            }
            & .infoHead {
            }
            & .infoPara {
            }
        }
    }
}