@import '../../variables';
.header {
    position: relative;
    background-image: linear-gradient(to bottom, rgba($theme3, .5), rgba(lighten($theme3, 5), .5) 300px);
    backdrop-filter: blur(15px);
    & .logoBox {
        & img {
            cursor: pointer;
        }
    }
    & .navLink {
        cursor: pointer;
        &.navIcon {
            font-size: 17px;
        }
        &:hover {
            color: $theme2 !important;
        }
    }
    & .mobileMenu {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        transform: translateY(-200%);
        background-image: linear-gradient(to bottom, $theme3, lighten($theme3, 5) 300px);
    }
    & .searchBox {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        transform: translateY(-300%);
        & .form-control {
            background-color: transparent !important;
            box-shadow: none !important;
            color: $white !important;
        }
        & .closeSearch {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            cursor: pointer;
        }
    }
    &.showMenu {
        & .mobileMenu {
            transform: translateY(0);
            z-index: 99;
        }
    }
    &.showSearch {
        & .searchBox {
            transform: translateY(0);
            z-index: 99;
        }
    }
}